# Disable directory browsing
Options -Indexes

# Protect database config file from direct access
<Files "db.php">
    Order Deny,Allow
    Deny from all
</Files>

<Files "reset.php">
    Order Deny,Allow
    Deny from all
</Files>
